<app-componente-botones-cabecera
[tituloCabecera]="'Crear Incidencia'"
[botonRetroceder]="true"
[botonCancelar]="true"
[botonCrearCita]="false"
[botonSalirPaciente]="false"
[botonCrearIncidencia]="false"
[rutaRetroceder]="'radiologo/misIncidencias/crearIncidencia'">

</app-componente-botones-cabecera>

<app-componente-confirmacion
    [textoConfirmacion]="'Incidencia creada y enviada correctamente'"
    [textoBoton]="'Volver al inicio'"
    [ruta]="'/radiologo/buscarCita'"
></app-componente-confirmacion>
