<app-componente-botones-cabecera [tituloCabecera]="'Crear incidencia'" [botonRetroceder]="true"
[botonCancelar]="true" [botonCrearCita]="false" [botonCrearIncidencia]="false" [botonSalirPaciente]="false"
[rutaRetroceder]="'radiologo/misIncidencias'" [rutaCancelar]="'radiologo/misIncidencias'"></app-componente-botones-cabecera>

<app-componente-resumen-datos-incidencias 
[siguienteRuta]="'radiologo/misIncidencias/crearIncidencia/resumenDatos/confirmacionIncidencia'">
</app-componente-resumen-datos-incidencias>
