<app-componente-botones-cabecera
[tituloCabecera]="'Editar Incidencia'"
[botonRetroceder]="true"
[botonCancelar]="true"
[botonCrearCita]="false"
[botonSalirPaciente]="false"
[botonCrearIncidencia]="false"
[rutaRetroceder]="'/medico/misIncidencias/editarIncidencia'">
</app-componente-botones-cabecera>

<app-componente-confirmacion
    [textoConfirmacion]="'Incidencia editada correctamente'"
    [textoBoton]="'Volver al mis Incidencias'"
    [ruta]="'/medico/misIncidencias'"
></app-componente-confirmacion>
